* {
	margin: 0;
	padding: 0;
	box-sizing: border-box!important;
}

body{

}

header {
	width: 100%;
	text-align: center;
	
}

.container {
	width: 1180px;
	margin: 0 auto;
	padding: 20px;
}

#bg-video {
  top: 0px;
  left: 0px;
  position: relative;
  z-index: -1;
  width: 100%;
}

.jumbovidtext {
  width: 100%;
  height: 100%;
  padding: 1em;
}

.jumbotron {
  position: relative;
  background: rgba(128,128,128,0.5);
  margin: 15vh 0;
  overflow-y: hidden;
}

